# Ignore binaries
*.exe
*.o
*.out

#Ignore trash folders
bin/*

#Ignore .vscode folder
.vscode/
!.vscode/tasks.json
!.vscode/launch.json

#Ignore directories
University/
Library/
Practice/
Labs/
problem/
Learning/